.jumbotron{
    font-size: 50px;
    font-weight: bold;
    color: wheat !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");

}
#inp{border:none;
     border-bottom:2px solid green ;
    text-align:center;
    outline:none;
    height:60px;
    width:500px;
    font-size:30px;


}
.btn1,.btn2,.btn3,.btn4{
    width:20%;
    text-align:center;
    font-size: 20px;
    /*margin-right: 8%;*/
    font-family: 'Kavivanar', cursive;
    margin-right: 4%;
    padding :0 !important;
}
.con{
    width:80%;
}
.search{
    font-size: 25px;
    font-family: 'Anton', sans-serif;

}

@media  screen and (max-width:485px){

    .btn1,.btn2,.btn3,.btn4{
        font-size: 15px;
    }
    .con{
        width:90%;
    }

    img{
        height:350px ;
    }

}
@media (min-width:485px) and (max-width:800px){
    img{
        height:400px ;
    }
}

@media screen and (min-width:800px){
    .center{
    width:40%;
        justify-content: center;
    }
    img{
        height:450px;
    }
    .con{
    width:50%!important;
        justify-content:center ;
        margin :0 !important;
        padding:0 !important;
    }

    #a{
    display:flex;
    flex-wrap:wrap;
        width:100%;

    }
    .btn1,.btn2,.btn3,.btn4{
        width:40%;
        font-size: 20px;
        /*margin-right: 8%;*/
    }
    .b{
        display:block!important;
    }
}

